body{
    background-color: rgb(192, 192, 192);
    margin: 0;  
    box-sizing: border-box;
}

button{
    font-size: 3vh;
}
	
table { 
    margin: 10px auto; 
}

hr { 
    color: white; 
}

.container{
    margin: auto auto;
    border-radius: 5vw;

    max-width: 90vw;
    min-height: 90vh;

    text-align: center;
    vertical-align: middle;
    background: rgb(245, 202, 209);
}

.hide{
    display: none;  
}
