body {
  background-color: rgb(192, 192, 192);
  box-sizing: border-box;

  text-align: center;
  font-size: 6vh;
  margin: 0;
}

button {
  font-size: 6vh;
  padding: 5px 1vw;
  border-radius: 45px;
}

table {
  margin: 10px auto;
}

td {
  min-width: 16vw;
}

hr {
  color: white;
}

.container {
  margin: auto auto;
  border-radius: 5vw;

  max-width: 90vw;

  text-align: center;
  vertical-align: middle;
  background: rgb(245, 202, 209);
}

.hide {
  display: none;
}
